* {
    box-sizing: border-box;
}

body {
    color: black;
    background-image: url(image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Lato, "Lucida Grande", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    padding: 0;
    margin: 0;
}

nav ul {
    margin-top: 0;
    display: flex;
    list-style-type: none;
    font-size: 100%;
    justify-content: space-around;
    background-color: rgba(128, 128, 128, 0.693);
    margin-bottom: 0;
    padding-left: 0;
}

nav ul li{
    cursor: pointer;
    padding: 0.5%;
    font-weight: 600;
    height: 100%;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    color:  rgb(255, 255, 255);
    transition: all .7s ease;
}

 a {
    text-decoration: none;
    color: inherit;
}

li:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

main {
    background-color: rgba(255, 255, 255, 0.597);
    min-height: 100vh;
    padding-top: 10%;
    width: 100%;
    padding-right: 20%;
    padding-left: 20%;
}

 a {
    text-decoration: none;
    color: white;
    transition: all .7s ease;
}

article {
    display: flex;
    justify-content: space-between;
}

div {
    padding-top:20px;
    padding-bottom: 40px;
    text-align: center;
    color: black;
    width: 20%;
    border: 2px inset transparent;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(134, 70, 10, 0.472);
}
article a {
    font-size: large;
    text-decoration: none;
    color: wheat;
    display: block;   
}
article button {
    /* border: 2px inset rgba(43, 41, 44, 0.849); */
    font-size: 150%;
    background-color: black;
    color: white;
    padding: 5% 15%;
    border-radius: 10%;
    transition: all 0.75s ease;
    /* box-shadow: rgb(48, 24, 13) 2px 2px 1px; */
}

button:hover {
    background-color: rgba(0, 0, 0, 0.788);
}

@media screen and (min-height: 600px){
    @media screen and (max-width: 600px) {
        h1 {
            margin-top: 40%;
        }
    }
    @media screen and (max-width: 800px) {
        h1 {
            margin-top: 30%;
        }
    }
   
}
@media screen and (max-width: 942px) {
    main {
     padding-right: 10%;
     padding-left: 10%;
    }
}
@media screen and (max-width: 710px) {
    article button {
        padding: 3% 6%;
    }
}
@media screen and (max-width: 665px) {
    article {
      /* display: block; */
      flex-flow: wrap;
      justify-content: space-around;
    }
    div {
        width: 40%;
    }
article p {
    font-size: small;
    font-weight: 800;
    }
}

@media screen and (max-width: 500px) {
   nav ul li {
        font-size: small;
        font-weight: 600;
    }
    header img {
        width: 25%;
    }    
}
@media screen and (max-width: 400px) {
    nav ul {
        justify-content: space-between;
        padding-left: 2%;
        padding-right: 2%;
    }

    main h1 {
        font-size: 125%;
    }  
}