* {
    box-sizing: border-box;
}

body {
    color: wheat;
    background-image: url(image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Lato, "Lucida Grande", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    text-align: center;
    font-size: 150%;
    margin-top: 10%;
}

header h1 {
    color: black;
    text-shadow: 2.4px 2.4px rgba(190, 190, 191, 0.267);
    margin-top: 2em;
    animation-name: flunctuate;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes flunctuate {
    25% {
        letter-spacing: 1px;
    }
    50% {
        letter-spacing: 1.5px;
    }
    75% {
        letter-spacing: 2px;
    }
    100% {
        letter-spacing: 2.5px;
    }
}

nav {
    padding: 0;
    margin: 0;
}

nav ul {
    margin-top: 0;
    display: flex;
    list-style-type: none;
    font-size: 100%;
    justify-content: space-around;
    background-color: rgba(128, 128, 128, 0.693);
    margin-bottom: 0;
}

nav ul li{
    cursor: pointer;
    padding: 0.5%;
    font-weight: 600;
    height: 100%;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    color:  rgb(255, 255, 255);
    transition: all .7s ease;
}

 a {
    text-decoration: none;
    color: inherit;
}

li:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

main {
    background-color: rgba(255, 255, 255, 0.597);
    min-height: 100vh;
    padding-top: 0.2%;
}

/* header img {
    position: absolute;
    opaciy: 0.7;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    border: 1px solid black;
} */

article {
    text-align: center;
    font-size: 140%;
    color: rgb(9, 1, 1);
    font-weight: 600;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

article p span {
    font-weight: bolder;
}

main article button {
    border-radius: 10px;
    border: 0.5px inset gray;
    font-size: 130%;
    font-weight: 500;
    color: wheat;
    background-color: rgb(0, 0, 0);
    padding: 2px 10px;
    padding-bottom: 4px;
    cursor: pointer;
    transition: all 0.75s ease;
}

main article button:hover {
    background-color: rgba(0, 0, 0, 0.788);
}

div {
    cursor: pointer;
    width: 175px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-height: 600px){
    @media screen and (max-width: 600px) {
        header {
            margin-top: 40%;
        }
    }
    @media screen and (max-width: 800px) {
        header {
            margin-top: 30%;
        }
    }
   
}

@media screen and (max-width: 770px) {
    header {
        font-size: 130%;
    }
}
@media screen and (max-width: 700px) {
    header {
        font-size: 120%;
    }
}

@media screen and (max-width: 660px) {
    header {
        font-size: 100%;
    }
}

@media screen and (max-width: 600px) {
    header {
        font-size: 150%;
    }
    header li {
        font-size: smaller;
        font-weight: 600;
    }
    header h1 {
        font-size: inherit;
    }
    header img {
        width: 18%;
    }
}

@media screen and (max-width: 485px) {
    /* body {
        background-image: none;
    } */
    nav ul {
        justify-content: space-between;
        padding-left: 0.5%;
        padding-right: 0.5%;
        background-color: rga(128, 128, 128, 0.693);
    }
    nav ul li {
        font-weight: 600;
    }

    nav ul li:hover {
        background-color: black;
    }
    /* header {
        font-size: 100%;
    } */
}

@media screen and (max-width: 400px) {
    nav ul {
        justify-content: space-between;
        padding-right: 2%;
        padding-left: 2%;
    }
    header {
        font-size: 240%;
    }
    header img {
        width: 25%;
    }
}

@media screen and (max-width: 375px) {
    header {
        font-size: 220%;
    }
}