* {
    box-sizing: border-box;
}

body {
    color: wheat;
    background-image: url(star.jpg);
    font-family: Lato, "Lucida Grande", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    text-align: center;
    font-size: 150%;
}

header h1 {
    text-shadow: 2.4px 2.4px rgb(132, 81, 180);
    animation-name: flunctuate;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes flunctuate {
    25% {
        letter-spacing: 1px;
    }
    50% {
        letter-spacing: 1.5px;
    }
    75% {
        letter-spacing: 2px;
    }
    100% {
        letter-spacing: 2.5px;
    }
}

header nav ul {
    display: flex;
    list-style-type: none;
    font-size: 100%;
    justify-content: space-around;
}

header nav ul li{
    cursor: pointer;
}

header nav ul li {
    text-shadow: 1px 1px rgb(132, 81, 180);
}

 a {
    text-decoration: none;
    color: rgba(245, 222, 179, 0.678);
    transition: all .7s ease;
}

a:hover {
    cursor: inherit;
  color: rgb(83, 241, 136);
  text-shadow: rgb(75, 60, 1);
}

header img {
    width: 12%;
    height: auto;
    border: 1px solid black;
    border-radius: 50%;
}
article {
    text-align: center;
    font-size: 120%;
}

article p span {
    font-weight: bolder;
}

main article button {
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(77, 76, 78);
    border: 1px inset gray;
    font-size: 150%;
    color: wheat;
    background-color: rgba(13, 3, 39, 0.253);
    padding: 2px 10px;
    padding-bottom: 4px;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    cursor: pointer;
}

div {
    cursor: pointer;
    width: 175px;
    margin-right: auto;
    margin-left: auto;
}

@keyframes opacity {
    50% {
        background-color:  rgb(0, 0, 0);
    }
}


@media screen and (max-width: 770px) {
    header {
        font-size: 130%;
    }
}
@media screen and (max-width: 700px) {
    header {
        font-size: 120%;
    }
}

@media screen and (max-width: 660px) {
    header {
        font-size: 100%;
    }
}

@media screen and (max-width: 600px) {
    header {
        font-size: 150%;
    }
    header li {
        font-size: small;
    }
    header h1 {
        font-size: inherit;
    }
    header img {
        width: 18%;
    }
}

@media screen and (max-width: 485px) {
    header {
        font-size: 100%;
    }
}

@media screen and (max-width: 400px) {
    header nav ul {
        justify-content: space-between;
        margin-right: 30px;
    }
    header {
        font-size: 240%;
    }
    header img {
        width: 25%;
    }
}

@media screen and (max-width: 375px) {
    header {
        font-size: 220%;
    }
}