
 /* a {
    text-decoration: none;
    color: inherit;
} */
* {
    box-sizing: border-box;
}

body {
    color: black;
    background-image: url(image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Lato, "Lucida Grande", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

main {
    background-color: rgba(255, 255, 255, 0.693);
    padding: 0 20% 0 20%;
    margin-bottom: 0;
    position: relative;
}

main div {
    text-align: center;
}

main p {
    text-indent: 5%;
    font-weight: 600;
}


nav {
    padding: 0;
    margin: 0;
}

nav ul {
    margin-top: 0;
    display: flex;
    list-style-type: none;
    font-size: 100%;
    justify-content: space-around;
    background-color: rgba(128, 128, 128, 0.693);
    margin-bottom: 0;
    padding-left: 0;
}

#menu, #menu2  {
    border: none;
    background-color: inherit;
    color: white;
    display: none;
    margin: 0;
    padding: 0;
    font-size: 250%;
    display: none;
}

nav ul li{
    cursor: pointer;
    padding: 0.5%;
    font-weight: 600;
    height: 100%;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    color:  rgb(255, 255, 255);
    transition: all .7s ease;
}

 a {
    text-decoration: none;
    color: inherit;
}

nav li:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}


h4 {
    display: inline-block;
    margin-top: 0;
    padding-top: inherit;
    font-weight: 700;
    color: rgb(66, 3, 35);
    text-shadow: 0.3px 0.3px  rgba(180, 240, 240, 0.472);
}

a {
    text-decoration: none;
    color: inherit;
}

.accordion-toggle {
    float: right;
    color: rgb(26, 1, 1);
    padding-top: inherit;
    font-weight: 600;
    transition: all .5s ease;
}

.accordion-toggle:hover {
    font-size: initial;
    color: rgba(251, 59, 59, 0.685);
    text-shadow: 1px 1px rgba(241, 188, 12, 0.459);
}

.accordion-content {
    display: none;
}

.accordion-content.active {
    display: block;
}

.accordion-content span {
    display: block;
    width: 150px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    color: rgb(26, 1, 1);
    font-weight: 600;
}

article ul {
    padding: initial;
    margin-bottom: 0;
}

article li{
    border: 2px inset rgba(77, 79, 80, 0.486);
    background-color: rgba(255, 255, 255, 0.529);
    border-radius: 10px;
    border-bottom: none;
    padding: 3%;
    list-style-type: none;
}

article ul li:nth-last-of-type(1) {
    border-bottom: 2px inset rgba(77, 79, 80, 0.486);
}
.accordion-content h5 {
    text-align: center;
    color: rgba(44, 24, 1, 0.904);
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 0.5px 0.5px rgba(64, 112, 224, 0.513);
}
span a {
    color: rgb(26, 1, 1);
    transition: all .5s ease;
}

li p a {
    color: rgb(22, 1, 1);
}

main {
     background-color: rgba(255, 255, 255, 0.638);
     margin-bottom: 0;
     padding: 10% 20% 0 20%;
     margin-top: 0;
}

h3 {
    text-align: center;
}

main p {
    text-align: justify;
    text-indent: 5%;
    margin-top: -1%;
    color: rgba(19, 7, 7, 0.876);
    font-weight: 600;
}

hr {
    margin-top: 30px;
    margin-bottom: 50px;
}

li.list, li.list:last-of-type {
    background-color: initial;
    padding: initial;
    margin: initial;
    margin-bottom: 10px;
    font-weight: 500;
    border: none;
    color: rgba(19, 7, 7, 0.876);
    border-bottom: none;
}

@media screen and (min-height: 600px){
    @media screen and (max-width: 600px) {
        h1 {
            margin-top: 40%;
        }
    }
    @media screen and (max-width: 800px) {
        h1 {
            margin-top: 30%;
        }
    }
   
}
@media screen and (max-width: 880px) {
    main {
      padding: 10% 10% 0 10%;
    }    
}
@media screen and (max-width: 500px) {
    body {
        background-image: none;
        background-color: rgba(128, 128, 128, 0.693);
    }
    main {
        padding: 0 5% 10% 5%;
    }
    main h1 {
        font-size: 125%;
    } 
    header {
        text-align: initial;
    }
    nav ul {
        display: block;
       background-color: rgba(128, 128, 128);
    }
    #menu {
        display: inline-block;
    }
   nav ul li {
        font-size: small;
        font-weight: 600;
        display: none;
        text-align: center;
    }
    nav ul li a {
        display: block;
    }
    h4, .accordion-toggle, span a, span, article ul li span a:hover {
        font-size: small;
    }
    .accordion-toggle:hover {
        font-size: small;
    }
    article li{
        border: 1px inset rgba(77, 79, 80, 0.486);
    }
    article ul li:nth-last-of-type(1) {
        border-bottom: 1px inset rgba(77, 79, 80, 0.486);
    }
}
@media screen and (max-width: 400px) {
    header nav ul {
        justify-content: space-between;
        padding-left: 2%;
        padding-right: 2%;
    }  
}
 @media screen and (max-width: 340px) {
    h4, .accordion-toggle, span a, span, article ul li span a:hover {
        font-size: x-small;
    }
    .accordion-toggle:hover {
        font-size: x-small;
    }
}